## PROJETO PÁSCOA COM DADOS
##### Apoiei o Projeto Dado Humanizado do Prof. Cláudio Bonel. Foi uma iniciativa chamada "Páscoa com Dados", que entregou ovos de páscoa para 100 crianças do Complexo do Alemão/RJ em 2022.

### CARGA DOS DADOS DE CADASTRO DAS DELEGACIAS DE POLÍCIA

In [97]:
# Importando as bibliotecas necessarias
import pandas as pd
from datetime import datetime
from pathlib import Path
import sqlite3 as sql

In [98]:
dtCarga = datetime.today().strftime('%d/%m/%Y %H:%M')
dtCarga

'11/04/2022 19:44'

In [99]:
# Definindo o endereço físico do arquivo CSV
LocalArquivo = "E:\\Projetos\\Python\\08 - Prof Bonel\\Python Integracao Dados com SQL\\"

# Criando DataFrame com os logs dos dados das Delegacias de Polícia
tbLogDP = pd.DataFrame(pd.read_csv(LocalArquivo + "DP.csv"))

tbLogDP.head(10)

,COD_DP,NM_DP,Endereço
0,1,001ª DP - Praça Mauá,Atendendo provisoriamente na sede da 4ª DP - P...
1,4,004ª DP - Praça da República,"Av. Presidente Vargas, 1100 - Centro, Rio de J..."
2,5,005ª DP - Mem de Sá,"Avenida Gomes Freire, 320 - Centro, Rio de Jan..."
3,6,006ª DP - Cidade Nova,"Rua Professor Clementino Fraga, 77 - Centro, R..."
4,7,007ª DP - Santa Teresa,"Rua Francisco de Castro, 5 - Santa Teresa, Rio..."
5,9,009ª DP - Catete,"Rua Pedro Américo, 1 - Catete, Rio de Janeiro ..."
6,10,010ª DP - Botafogo,"Rua Bambina, 140 - Botafogo, Rio de Janeiro - ..."
7,11,011ª DP - Rocinha,"Rua Bertha Lutz, 80 - Gávea, Rio de Janeiro - ..."
8,12,012ª DP - Copacabana,"Rua Hilário de Gouveia, 102 - Copacabana, Rio ..."
9,13,013ª DP - Ipanema,"Avenida Nossa Senhora de Copacabana, 1260 - Co..."

In [100]:
# Criando coluna com a data da carga
tbLogDP['dtCarga'] = dtCarga
tbLogDP.head()

,COD_DP,NM_DP,Endereço,dtCarga
0,1,001ª DP - Praça Mauá,Atendendo provisoriamente na sede da 4ª DP - P...,11/04/2022 19:44
1,4,004ª DP - Praça da República,"Av. Presidente Vargas, 1100 - Centro, Rio de J...",11/04/2022 19:44
2,5,005ª DP - Mem de Sá,"Avenida Gomes Freire, 320 - Centro, Rio de Jan...",11/04/2022 19:44
3,6,006ª DP - Cidade Nova,"Rua Professor Clementino Fraga, 77 - Centro, R...",11/04/2022 19:44
4,7,007ª DP - Santa Teresa,"Rua Francisco de Castro, 5 - Santa Teresa, Rio...",11/04/2022 19:44

In [45]:
#selecionando a coluna COD_DP como novo index
#tbLogDP = tbLogDP.set_index("COD_DP")
# Foi deixado sem transformar o COD_DP em index por que dá problema no insert. Deixar o index que o pandas cria automaticamente e nao será enviado para o banco

In [101]:
# Dimensao dos dados
tbLogDP.shape

(137, 4)

In [102]:
# Informacoes
tbLogDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   COD_DP    137 non-null    int64
 1   NM_DP     137 non-null    object
 2   Endereço  137 non-null    object
 3   dtCarga   137 non-null    object
dtypes: int64(1), object(3)
memory usage: 4.4+ KB

In [103]:
# Verificando a existencia de dados nulos
tbLogDP.isnull().sum()

COD_DP      0
NM_DP       0
Endereço    0
dtCarga     0
dtype: int64

### CARGA DOS DADOS DE CADASTRO DOS RESPONSÁVEIS PELAS DELEGACIAS DE POLÍCIA

In [104]:
# Criando DataFrame com os dados dos responsáveis pelas DPs
tbLogRespDP = pd.DataFrame(pd.read_csv(LocalArquivo + "ResponsavelDP.csv"))
tbLogRespDP.head()

   COD_DP                                        Responsavel
0       1         Delegado de Polícia José Luiz Silva Duarte
1       4       Delegada de Polícia Patricia de Paiva Aguiar
2       5        Delegado de Polícia Bruno Gilaberte Freitas
3       6      Delegado de Polícia Fabio Luiz Da Silva Souza
4       7  Delegado de Polícia Carlos Alberto Meirelles D...

In [105]:
# Criando coluna com a data da carga
tbLogRespDP['dtCarga'] = dtCarga
tbLogRespDP.head()

   COD_DP                                        Responsavel           dtCarga
0       1         Delegado de Polícia José Luiz Silva Duarte  11/04/2022 19:44
1       4       Delegada de Polícia Patricia de Paiva Aguiar  11/04/2022 19:44
2       5        Delegado de Polícia Bruno Gilaberte Freitas  11/04/2022 19:44
3       6      Delegado de Polícia Fabio Luiz Da Silva Souza  11/04/2022 19:44
4       7  Delegado de Polícia Carlos Alberto Meirelles D...  11/04/2022 19:44

In [ ]:
# selecionando a coluna COD_DP como novo index
#tbLogRespDP = tbLogRespDP.set_index("COD_DP")
# Foi deixado sem transformar o COD_DP em index por que dá problema no insert. Deixar o index que o pandas cria automaticamente e nao será enviado para o banco

In [106]:
# Dimensao dos dados
tbLogRespDP.shape

(137, 3)

In [107]:
# Informacoes
tbLogRespDP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   COD_DP       137 non-null    int64
 1   Responsavel  137 non-null    object
 2   dtCarga      137 non-null    object
dtypes: int64(1), object(2)
memory usage: 3.3+ KB

In [108]:
# Verificando a existencia de dados nulos
tbLogRespDP.isnull().sum()

COD_DP         0
Responsavel    0
dtCarga        0
dtype: int64

### CONECTANDO NO ODS E INFORMANDO AO PYTHON QUE USAREI LINGUAGEM SQL

In [109]:
# Manipulando o sistema de arquivos no Windows
endereco = Path('E:\\Projetos\\Python\\08 - Prof Bonel\\Python Integracao Dados com SQL\\')

BDODS = endereco / "pascoaODS.db"
BDDW = endereco / "pascoaDW.db"

# Conectando no BDODS
conexaoODS = sql.connect(BDODS)

# Definição de manipulação de dados em SQL. Métdo cursor permite manipular dados no SQL
SQL_ODS = conexaoODS.cursor()

### INSERINDO DADOS DAS DELEGACIAS DE POLÍCIA, NO SQLITE (ODS)

In [110]:
# Inserindo registros na tabela tbLogDP
print("Iniciando a inserção de dados na tabela tbLogDP.")
print("-------------------------------------------------")

# executemany método para executar vários registros para uma tabela.
# executemany só funciona se os dados estiverem numa lista
# tbLogDP.values.tolist()  transformando o dataframe numa lista
# VALUES (?,?,?,?)  receberá os parâmetros do dataframe tbLogDP

SQL_ODS.executemany('''INSERT INTO tbLogDP (codDP,nmDP,endereco,dtCarga) VALUES (?,?,?,?)''',tbLogDP.values.tolist())

#confirmar a transação
conexaoODS.commit()

#Exibir uma mensagem de conclusão de carga
print("Carga finalizada!",len(tbLogDP), "registros inseridos na tbLogDP!") # len vai contar a qtd de registros inseridos

Iniciando a inserção de dados na tabela tbLogDP.
-------------------------------------------------
Carga finalizada! 137 registros inseridos na tbLogDP!

### INSERINDO DADOS DOS RESPONSÁVEIS PELAS DELEGACIAS DE POLÍCIA, NO SQLITE (ODS)

In [111]:
#Inserindo registros na tabela tbLogDP
print("Iniciando a inserção de dados na tabela tbLogRespDP.")
print("-------------------------------------------------")

SQL_ODS.executemany('''INSERT INTO tbLogRespDP (codDP,nmResponsavel,dtCarga) VALUES (?,?,?)''',tbLogRespDP.values.tolist())

#confirmar a transação
conexaoODS.commit()

#Exibir uma mensagem de conclusão de carga
print("Carga finalizada!",len(tbLogRespDP), "registros inseridos na tbLogDP!")

Iniciando a inserção de dados na tabela tbLogRespDP.
-------------------------------------------------
Carga finalizada! 137 registros inseridos na tbLogDP!

### VALIDANDO CARGA DOS DADOS DE DP E DE RESPONSÁVEL DP

In [61]:
#validar a carga através de um select na tblogDP
#pd.read_sql("SELECT * FROM tbLogDP",conexaoODS).head(10)

,codDP,nmDP,endereco,dtCarga
0,1,001ª DP - Praça Mauá,Atendendo provisoriamente na sede da 4ª DP - P...,11/04/2022 18:43
1,4,004ª DP - Praça da República,"Av. Presidente Vargas, 1100 - Centro, Rio de J...",11/04/2022 18:43
2,5,005ª DP - Mem de Sá,"Avenida Gomes Freire, 320 - Centro, Rio de Jan...",11/04/2022 18:43
3,6,006ª DP - Cidade Nova,"Rua Professor Clementino Fraga, 77 - Centro, R...",11/04/2022 18:43
4,7,007ª DP - Santa Teresa,"Rua Francisco de Castro, 5 - Santa Teresa, Rio...",11/04/2022 18:43
5,9,009ª DP - Catete,"Rua Pedro Américo, 1 - Catete, Rio de Janeiro ...",11/04/2022 18:43
6,10,010ª DP - Botafogo,"Rua Bambina, 140 - Botafogo, Rio de Janeiro - ...",11/04/2022 18:43
7,11,011ª DP - Rocinha,"Rua Bertha Lutz, 80 - Gávea, Rio de Janeiro - ...",11/04/2022 18:43
8,12,012ª DP - Copacabana,"Rua Hilário de Gouveia, 102 - Copacabana, Rio ...",11/04/2022 18:43
9,13,013ª DP - Ipanema,"Avenida Nossa Senhora de Copacabana, 1260 - Co...",11/04/2022 18:43

In [63]:
#validar a carga através de um select na tblogRespDP
#pd.read_sql("SELECT * FROM tbLogRespDP",conexaoODS).head(10)

   codDP                                      nmResponsavel           dtCarga
0      1         Delegado de Polícia José Luiz Silva Duarte  11/04/2022 18:43
1      4       Delegada de Polícia Patricia de Paiva Aguiar  11/04/2022 18:43
2      5        Delegado de Polícia Bruno Gilaberte Freitas  11/04/2022 18:43
3      6      Delegado de Polícia Fabio Luiz Da Silva Souza  11/04/2022 18:43
4      7  Delegado de Polícia Carlos Alberto Meirelles D...  11/04/2022 18:43
5      9  Delegada de Polícia Maria Aparecida Salgado Ma...  11/04/2022 18:43
6     10   Delegado de Polícia Alexandre Herdy Barros Silva  11/04/2022 18:43
7     11  Delegada de Polícia Flávia Goes Monteiro Romer...  11/04/2022 18:43
8     12  Delegada de Polícia Bianca Rodrigues Xavier Li...  11/04/2022 18:43
9     13        Delegado de Polícia Felipe Santoro da Silva  11/04/2022 18:43

### CRIANDO O DATAFRAME COM O SELECT DE CRIAÇÃO DA DIMENSÃO DP (dDP), NO DW

In [112]:
#Definir a query de criação da dimensão dDP. Colocando os dados do select no dataframe dDB

qry_dDP = '''
    SELECT 
        codDP,
        nmDP,
        endereco,
        nmResponsavel
    FROM
    (
        SELECT
            a.codDP,
            a.nmDP,
            a.endereco,
            b.nmResponsavel,
            max(a.dtCarga)
        FROM tbLogDP a
        JOIN tbLogRespDP b
        on a.codDP = b.codDP
        GROUP BY
            a.codDP,
            a.nmDP,
            a.endereco,
            b.nmResponsavel
    ) a
'''

# max(a.dtCarga) usará sempre a data mais atual

dDP = pd.read_sql(qry_dDP,conexaoODS)

In [113]:
# dados da query realizada
dDP.head(10)

,codDP,nmDP,endereco,nmResponsavel
0,1,001ª DP - Praça Mauá,Atendendo provisoriamente na sede da 4ª DP - P...,Delegado de Polícia José Luiz Silva Duarte
1,4,004ª DP - Praça da República,"Av. Presidente Vargas, 1100 - Centro, Rio de J...",Delegada de Polícia Patricia de Paiva Aguiar
2,5,005ª DP - Mem de Sá,"Avenida Gomes Freire, 320 - Centro, Rio de Jan...",Delegado de Polícia Bruno Gilaberte Freitas
3,6,006ª DP - Cidade Nova,"Rua Professor Clementino Fraga, 77 - Centro, R...",Delegado de Polícia Fabio Luiz Da Silva Souza
4,7,007ª DP - Santa Teresa,"Rua Francisco de Castro, 5 - Santa Teresa, Rio...",Delegado de Polícia Carlos Alberto Meirelles D...
5,9,009ª DP - Catete,"Rua Pedro Américo, 1 - Catete, Rio de Janeiro ...",Delegada de Polícia Maria Aparecida Salgado Ma...
6,10,010ª DP - Botafogo,"Rua Bambina, 140 - Botafogo, Rio de Janeiro - ...",Delegado de Polícia Alexandre Herdy Barros Silva
7,11,011ª DP - Rocinha,"Rua Bertha Lutz, 80 - Gávea, Rio de Janeiro - ...",Delegada de Polícia Flávia Goes Monteiro Romer...
8,12,012ª DP - Copacabana,"Rua Hilário de Gouveia, 102 - Copacabana, Rio ...",Delegada de Polícia Bianca Rodrigues Xavier Li...
9,13,013ª DP - Ipanema,"Avenida Nossa Senhora de Copacabana, 1260 - Co...",Delegado de Polícia Felipe Santoro da Silva

### FECHANDO A CONEXÃO COM O ODS

In [114]:
#Confirmar a transação
conexaoODS.commit()

#Fechar a conexão com o pascoaODS
conexaoODS.close()

### CONECTANDO NO DW E INFORMANDO AO PYTHON QUE USAREI LINGUAGEM SQL

In [115]:
#Conectar no BDODS
conexaoDW = sql.connect(BDDW)

#Definição de manipulação de dados em SQL
SQL_DW = conexaoDW.cursor()

### DELETANDO DADOS ANTIGOS E REINICIANDO AO AUTOINCREMENTAL DA CHAVE

In [120]:
#Deletar os dados atuais
SQL_DW.execute("DELETE FROM dDP")

#Reiniciando o autoincramental da chave
SQL_DW.execute("UPDATE sqlite_sequence SET seq=0 WHERE name='dDP'")

#Confirmar a transação
conexaoDW.commit()

### INSERINDO DADOS NA DIMENSÃO DP (dDP), NO DW

In [121]:
#Inserindo registros na tabela dDP
print("Iniciando a inserção de dados na tabela dDP.")
print("-------------------------------------------------")

SQL_DW.executemany('''INSERT INTO dDP (codDP,nmDP,endereco,nmResponsavel) VALUES (?,?,?,?)''',dDP.values.tolist())

#confirmar a transação
conexaoDW.commit()

#Exibir uma mensagem de conclusão de carga
print("Carga finalizada!",len(dDP), "registros inseridos na tbLogDP!")

Iniciando a inserção de dados na tabela dDP.
-------------------------------------------------
Carga finalizada! 137 registros inseridos na tbLogDP!

### VALIDANDO CARGA DOS DADOS DA DIMENSÃO DP (dDP)

In [79]:
#validar a carga através de um select na tblogDP
#pd.read_sql("SELECT * FROM dDP",conexaoDW).head(10)

,idDP,codDP,nmDP,endereco,nmResponsavel
0,1,1,001ª DP - Praça Mauá,Atendendo provisoriamente na sede da 4ª DP - P...,Delegado de Polícia José Luiz Silva Duarte
1,2,4,004ª DP - Praça da República,"Av. Presidente Vargas, 1100 - Centro, Rio de J...",Delegada de Polícia Patricia de Paiva Aguiar
2,3,5,005ª DP - Mem de Sá,"Avenida Gomes Freire, 320 - Centro, Rio de Jan...",Delegado de Polícia Bruno Gilaberte Freitas
3,4,6,006ª DP - Cidade Nova,"Rua Professor Clementino Fraga, 77 - Centro, R...",Delegado de Polícia Fabio Luiz Da Silva Souza
4,5,7,007ª DP - Santa Teresa,"Rua Francisco de Castro, 5 - Santa Teresa, Rio...",Delegado de Polícia Carlos Alberto Meirelles D...
5,6,9,009ª DP - Catete,"Rua Pedro Américo, 1 - Catete, Rio de Janeiro ...",Delegada de Polícia Maria Aparecida Salgado Ma...
6,7,10,010ª DP - Botafogo,"Rua Bambina, 140 - Botafogo, Rio de Janeiro - ...",Delegado de Polícia Alexandre Herdy Barros Silva
7,8,11,011ª DP - Rocinha,"Rua Bertha Lutz, 80 - Gávea, Rio de Janeiro - ...",Delegada de Polícia Flávia Goes Monteiro Romer...
8,9,12,012ª DP - Copacabana,"Rua Hilário de Gouveia, 102 - Copacabana, Rio ...",Delegada de Polícia Bianca Rodrigues Xavier Li...
9,10,13,013ª DP - Ipanema,"Avenida Nossa Senhora de Copacabana, 1260 - Co...",Delegado de Polícia Felipe Santoro da Silva

### FECHANDO A CONEXÃO COM O DW

In [80]:
#Confirmar a transação
conexaoDW.commit()

#Fechar a conexão
conexaoDW.close()